{% load static %}

{% include "cabecera-invitado.html" %}

<!-- BLOQUE DE CONTENIDO -->
<!-- Titulo de la página actual-->
<h2 class="text-center border border-dark p-3 paginas-titulo">
    BIENVENIDO
</h2>

<!-- Línea superadora -->
<hr />

<!-- Contenedor de la información de las citas-->
<div class="container-fluid">

    <div>
        <h2 class="text-center pb-2">
            <b>¿Qué es la Pediatría?</b>
        </h2>
    </div>

    <h5 class="p-0 m-0"> Se considera como pediatría a una especialidad médica enfocada en la
        atención de los niños desde su nacimiento hasta la adolescencia. Esta especialidad busca la
        prevención, diagnóstico y tratamiento de enfermedades o lesiones que suceden durante esta
        etapa de la vida.</h5>
    <br>
    <h4><b>¿Qué hace un médico pediatra?</b></h4>

    <ul>
        <h6>
            <li>Supervisar de manera constante a niños sanos, mediante cuidados preventivos.</li>
        </h6>
        <h6>
            <li>Atiende enfermedades agudas o crónicas.</li>
        </h6>
    </ul>

    <h5>
        Con esto, el médico logra controlar el bienestar físico, mental y emocional del niño a lo
        largo de los diferentes periodos que vida: recién nacidos (0-6 días), neonatos (7-29 días),
        lactantes (desde 1 mes a los 2 años), preescolar (3-5 años) escolar (6-12 años), pubertad
        (13-15 años) y adolescencia (16-18 años); también en caso de ser necesario atenderá a los
        niños prematuros. <br> <br>
    </h5> <br>

    <div>
        <h2 class="text-center pb-2">
            <b>¿Quién es la Doctora Baydi Fernández?</b>
        </h2>
    </div>

    <h5>
        Entre las preguntas de qué es la pediatria, la duda de si tiene especialidades es muy
        relevante.
        <br><br>
        Lo cierto es que, en caso de que el médico pediatra lo crea necesario, podrá remitir al niño
        o niña a otras especialidades para complementar o apoyar los estudios y el tratamiento del
        paciente. Dentro de estas especialidades se encuentran: <br>
    </h5>

    <h5>
        Estas son solo algunas de las especialidades pediátricas, las cuales se dividen teniendo en
        cuenta los órganos, aparatos o sistemas, la naturaleza de la afectación, la edad del
        paciente y la tecnología que se puede emplear para su tratamiento. <br> <br>

        Es importante recordar que los niños no son adultos pequeños, son individuos que están
        viviendo cambios constantes en su cuerpo y mente, razón por la cual, al igual que en las
        personas adultas, deben contar con la atención de especialistas enfocados a cada una de sus
        necesidades. <br> <br>
    </h5>

    <div class="d-flex justify-content-center">
        <img class="informacion-img img-fluid" src='{% static "img/pediatria.jpg" %}' alt="Pediatría">
    </div>
</div>

<!-- Plantilla del pie de página -->
{% include "pie.html" %}