{% load static %}

</main>

<!-- Contenedor que almacena el pie de página-->
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-end">
            <span class="text-muted">&copy; 2023. Heredia, Labrador.</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-muted" target="_blank" href="https://instagram.com/">
                    <i class="fa-brands fa-instagram fa-lg"></i>
                </a>
            </li>
            <li class="ms-3 justify-content-center">
                <a class="text-muted" target="_blank" href="https://web.whatsapp.com/">
                    <i class="fa-brands fa-whatsapp fa-lg"></i>
                </a>
            </li>
        </ul>
    </footer>
</div>
</body>

<script type="text/javascript" src='{% static "javascript/java_bootstrap.js" %}'></script>

<script type="text/javascript" src='{% static "javascript/sidebars.js" %}'></script>

<script type="text/javascript" src='{% static "javascript/validaciones.js" %}'></script>


</html>